body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;
    position: fixed;
    left: 50%;
    margin-top: 0px;
    margin-left: -200px;
    height: 50%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20%;
    
}
input[type='image']{
    border: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: #333; 
    height: 150px;
}
.data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 235px;
    width: 400px;
}
.reset{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 150px;
}
#message{
    display: flex;
    align-items: center;
    padding-left:250px ;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
img{
height: 100px;
width: 65px;
border: 2px;
border-style: solid;
border-radius: 10px;
border-color: #333; 
}